<div class="col-xs-12">
    <label><b>Question {{questionNumber}}: </b></label> <label for="question"><b><i>{{question.question}}</i></b></label>
    <hr>
    <div class="form-check">
      <input type="radio" class="with-gap" id="optionA" name="option" [value] = "1" [(ngModel)] = "selectedOption" (change) = "onOptionSelect(1)"> <label for="optionA">{{question.optionA}}</label>
    </div>
    <div class="form-check">
      <input type="radio" class="with-gap" id="optionB" name="option" [value] = "2" [(ngModel)] = "selectedOption" (change) = "onOptionSelect(2)"> <label for="optionB">{{question.optionB}}</label>
      </div>
    <div class="form-check">
      <input type="radio" class="with-gap" id="optionC" name="option" [value] = "3" [(ngModel)] = "selectedOption" (change) = "onOptionSelect(3)"> <label for="optionC">{{question.optionC}}</label>
    </div>
    <div class="form-check">
      <input type="radio" class="with-gap" id="optionD" name="option" [value] = "4" [(ngModel)] = "selectedOption" (change) = "onOptionSelect(4)"> <label for="optionD">{{question.optionD}}</label>
    </div>
  </div>