<div class="col-xs-12">
    <label><b>Question {{questionNumber}}: </b></label> <label for="question"><b><i>{{question.question}}</i></b></label>
    <hr>

    <label class="container">{{question.optionA}}
        <input type="radio" [value] = "1" [(ngModel)] = "selectedOption" (change) = "onOptionSelect(1)" name="radio">
        <span class="checkmark"></span>
    </label>

    <label class="container">{{question.optionB}}
        <input type="radio" [value] = "2" [(ngModel)] = "selectedOption" (change) = "onOptionSelect(2)" name="radio">
        <span class="checkmark"></span>
    </label>

    <label class="container">{{question.optionC}}
        <input type="radio" [value] = "3" [(ngModel)] = "selectedOption" (change) = "onOptionSelect(3)" name="radio">
        <span class="checkmark"></span>
    </label>

    <label class="container">{{question.optionD}}
        <input type="radio" [value] = "4" [(ngModel)] = "selectedOption" (change) = "onOptionSelect(4)" name="radio">
        <span class="checkmark"></span>
    </label>

  </div>